doctype html
html
  head
    title 稲守さんの愉快な奴隷たち
    meta(content="IE=edge", http-equiv="X-UA-Compatible")
    meta(charset="utf-8")
    meta(content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no", name="viewport")
    link(href="style.css", rel="stylesheet")
  body
    .firstView
      .firstView__animation
        include ../images/first.svg 
    .members
      h1 Members
      .member
        .member__image
          img(src='/images/yuta-k.jpg')
        .member__profile
          .member__name Yuta.K
          .member__information
            | 奴隷1号。<br>
            | 'Git'の講義を担当。大した技術力もないのにGTBの講師をやっているポンコツ。
            | 
      .member.member--reverse
        .member__image
          img(src='/images/shota-t.jpg')
        .member__profile
          .member__name Shota.T
          .member__information
            | 奴隷2号。<br>
            | 'プログラミング基礎'の講義を担当。
      .membersFooter
        | and...
        .membersFooter__you
          | YOU

    .introduction
      h1 About
      | 冥界の王 -INAMORI- に操られし哀れなGTB運営事務局メンバー<br>
      | 自由を夢見つつ、共にGTBをより良くする仲間を求め彷徨っている

    .mission
      h1 Mission
      | 我々の活動は、仲間たちの知識を豊かに強固にし、<br>
      | 新たなGMOの文化・人財とサービスの「未来」「発展」に心踊らせ、会社とビジネスに貢献する

    .skillSet
      h1 Skills
      .skill
        .skill__title はい、よろこんで！！！
        .skill__description
          | 言われたことはやるしかない。<br>
          | INAMORI様は神様です！！！
      .skill
        .skill__title すいませんでした！！！
        .skill__description
          | とりあえず謝罪、僕らは存在が罪、、、
      .skill
        .skill__title いやぁ、それはちょっと、、、
        .skill__description
          | 無茶ぶりは拒絶してみる。<br>
          | 受け入れられるかは、、、
    
    .attention 
      | このサイトはネタサイトです。<br>
      | 実在の組織、団体とはなんの関係もございませんのでご了承ください。
      


