.skillSet {
  @include whiteContent();
  text-align: center;
}

.skill {
  margin-top: $mid-space; 
  &__title {
    background: $white-color;
    border: solid 1px $main-color;
    height: 32px;
    line-height: 32px;
    margin: 0 auto;
    position: relative;
    width: 300px;
    z-index: 100;
  }
  &__description {
    border: solid 1px $main-color;
    padding: 32px;
    margin: -16px auto 0;
    width: 600px;
  }
}